src/main/mule/gitpoc1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8bf10174-dc41-4b72-8c16-9e46518c12ee" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitpoc1Flow" doc:id="1cc07694-57b5-4327-937a-ad2a7e302027" >
		<http:listener doc:name="Listener" doc:id="94f1e82a-d73f-445f-87f1-13ecedbf4ed3" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="bdc68052-4705-4421-a0f3-c278d0fb992d" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="9464541c-62bd-4b01-82d0-47b85bcc6a33" />
		<ee:transform doc:name="Transform Message" doc:id="5575f9f7-366c-4a31-b9bc-77063d8d7d12" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"datawave "
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
